<!doctype html>
<html>
<head><title>{% if mode == 'create' %}Create Book{% else %}Edit Book{% endif %}</title></head>
<body>
  <h1>{% if mode == 'create' %}Create Book{% else %}Edit Book{% endif %}</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
      {{ form.title.label_tag }}<br>
      {{ form.title }}
      {{ form.title.errors }}
    </p>
    <p>
      {{ form.author.label_tag }}<br>
      {{ form.author }}
      {{ form.author.errors }}
    </p>
    <p>
      {{ form.publication_year.label_tag }}<br>
      {{ form.publication_year }}
      {{ form.publication_year.errors }}
    </p>
    <button type="submit">Save</button>
  </form>
  <p><a href="{% if mode == 'create' %}{% url 'bookshelf:book_list' %}{% else %}{% url 'bookshelf:book_detail' book.pk %}{% endif %}">Cancel</a></p>
</body>
</html>
